@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body{background-color: black;}

.filter{
    background-image: url(./image/header.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 193px;
}

.commands-placeholder{
    position: relative;
    top:102px;
    text-align: center; 
}

.champion-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 98%;
    margin: 0 auto;
}

.name, .classes{
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 0 6px black;
}

.name{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
}

.classes{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button.active{
    box-shadow: 0px 0px 50px 1px rgba(78, 187, 238, 0.8);
}

button.active:hover{
    background-color: rgba(0, 0, 0, 0);
}

button, select{
    margin: 3px;
    padding: 5px 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border:none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    width: 90px;
}

select option{
    background-color: rgba(0, 0, 0, 0);
    color:black;
}

.front, .back{
    box-shadow: 0px 0px 15px #f5bb4f;
    background-size: cover;
}

.flip-container { perspective: 1000; padding: 10px 10px 15px;}  	

.flip-container.hover .flipper {  		
    transform: rotateY(180deg);  	
}

.flip-container, .front, .back {  	
    width:  154px;
    height: 280px;  
}

.flipper {  	
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative;  
}
    
.front, .back {  	
    backface-visibility: hidden;    	
    position: absolute;  	
    top: 0;  	
    left: 0;  
}
    
.front { z-index: 2;  }    

.back { transform: rotateY(180deg); background-color:#4f3c21;}

.info{
    color: white;
}

.stats{
    display: block;
    padding-left: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 14px;
    font-size: 11px;
    background-image: url('./image/stat-icons-sprite.png');
    background-repeat: no-repeat;
    font-weight: bold;
}

.stats>span{
    position:relative;
    top:3px;
}

.stats:first-of-type{
    margin-top: 20px;
}

.icon-hp{background-position:0px -150px}
.icon-regen {background-position:0px -175px}
.icon-dmg{background-position:0px 0px}
.icon-atk-spd{background-position:0px -50px}
.icon-spd{background-position:0px -75px}
.icon-armor {background-position:0px -25px}
.icon-spell-res {background-position:0px -125px}
.icon-mp{background-position:0px -200px}
.icon-mp-regen{background-position:0px -225px}
