body{
    background-color: black;
}

.champion-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    text-align: center;
    width: 15%;
}

.name{
    font-size: 16px;
    color: white;
    margin: 0;
}

span{
    color: white;
}

div{
    display: inline;
}

button.active{
    border: solid 2px blue;
}

.container-image{
    margin: 10px;
}

.image{
    margin: 0;
    box-shadow: 0px 0px 15px #f5bb4f;
    width: 100%;
}

